
div {

    display:inline-block;

  }







.day {

    position:fixed;

    background-color:rgb(133, 195, 236);

    top:0px;

    width:1000px;

    height:30pt;

    font-size: 20pt;

}



.box1 {

    position:relative;

    top:30pt;

    left:0px;

    width:1000px;

    height:900px;

    font-size: 15pt;

    font-weight: normal;

    background-color:rgb(204, 219, 252);

    



}



.box1 .box2 {

    position:absolute;

    top:10pt;

    left:0px;

    width:915px;

    height:800px;

    font-size: 18pt;

    font-weight:lighter;

    background-color:white;

    padding:20px;

    margin:20px;



    

}



body {

    text-align:center;

}





.image{

    border-radius: 35%;

}